.MainBox
  .GroupInfo
    .CurrentGroup
      .CurrentGroup__name
      .CurrentGroup__edit
  .MainText
    .TextBox
      ルンルン
    .TextBox
    .TextBox
    .TextBox
    .TextBox
    .TextBox
  .Footer
    = link_to '#',class: "Footer__newButton" do
      リスト編集
    = link_to '#',class: "Footer__newButton" do
      リスト作成
