.SideBox
  .UserBox
    .UserBox__list
      .UserBox__user
        takuro
      .UserBox__iconList
        .UserBox__Icon
        .UserBox__Icon
  .GroupBox
    .Group
      ロロろ
    .Group
      ロロろ
    .Group
      ロロろ
    .Group
      ロロろ
